.App {
  text-align: center;
}

#welcome-screen {
  /* background-color: #fdbe31; */
  background-image: url("https://media1.giphy.com/media/kimPrHNUDksc14FXCB/giphy.gif?cid=ecf05e47px1ndk7w1hfdnhb983detqx78e1t0ahbp1nrtqkn&rid=giphy.gif&ct=g");
  /* background-image: url("https://media1.giphy.com/media/xTiN0A1yDc84UV9WZa/giphy.gif"); This version requires align items center and display flex*/
  color: white;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  grid-template-areas:
    "suitcase"
    "welcome"
    "welcome"
    "welcome";
  justify-content: center;
}

/* #suitcase {
  grid-area: suitcase;
  max-height: 50vh;
  max-width: 100vw;
  object-fit: fill;
  border-radius: 50%;
  margin-bottom: -10px;
} */

#welcomeitems {
  grid-area: welcome;
  z-index: 2;
  font-size: 5vh;
  border: none;
}

#welcomeline {
  width: 80vw;
}

#acctCreationForm {
  grid-area: form;
  display: grid;
  width: 80vw;
}

#loginpage {
  display: grid;
  grid-template-areas:
    "welcome welcome welcome"
    "tagline tagline tagline"
    ". form .";
  align-content: center;
}
#loginwelcome {
  grid-area: welcome;
  animation-duration: 3s;
  animation-name: slideinfromtop;
}

@keyframes slideinfromtop {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 8%;
  }
}
#logintagline {
  grid-area: tagline;
  animation-duration: 3s;
  animation-name: slideinfromtop;
}
#loginform {
  grid-area: form;
  display: grid;
  width: 80vw;
  text-align: center;
}

input {
  animation-duration: 3s;
  animation-name: slideinfromleft;
}

@keyframes slideinfromleft {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

#welcomesubmit {
  align-self: center;
}

label {
  text-align: left;
}

#signupscreen {
  display: grid;
  grid-template-areas:
    "welcome welcome welcome"
    "tagline tagline tagline"
    ". form .";
  align-content: center;
}

#welcome {
  grid-area: welcome;
}

#tagline {
  grid-area: tagline;
}

#triptitle{
  background-color: #e6b574;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
#minitrip{
  background-color: #e2e2e2;
  border-radius:10px;
  box-shadow: 0px 4px 8px gray;
}
#trips{
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items:center;
  margin-top:5vh;
}
.App {
  /* background-color: #7ec4dd; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
#usermain {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  max-height: fit-content;
  grid-template-areas:
    "header"
    "body"
    "footer";
}
#header {
  grid-area: header;
  background-color: #e6b574;
  width: 100vw;
  height: 5vh;
  position: fixed;
  margin-top:-1vh;
  box-shadow: 0px 4px 8px gray;
  display: grid;
  grid-template-areas: "home . . . . logout";
  align-items: center;
}
#homebtn {
  grid-area: home;
  margin-top: 0.25vh;
}
#logoutbtn {
  grid-area: logout;
  box-shadow: 2px 2px 4px gray;
}
#footer {
  grid-area: footer;
  background-color: #e6b574;
  display:flex;
  align-items:center;
  width: 100vw;
  height: 5vh;
  box-shadow: 0px -4px 8px gray;
}
.body {
  grid-area: body;
  min-height: 95vh;
  display:grid;
  align-content:center;
}
.button {
  background-color: #88c6c5;
  color: black;
  height: 3.5vh;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 8px gray;
  margin: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.buttontwo {
  background-color: #88c6c5;
  color: black;
  height: 3.5vh;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 8px gray;
  margin: 10px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 0.25s;
}

.navbutton {
  background-color: #88c6c5;
  color: black;
  height: 3.5vh;
  width: fit-content;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 8px gray;
}

.home-button {
  background-color: white;
  color: black;
  height: 4vh;
  width: 30vw;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #568c8b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
